Game_Contents/.plastic
Game_Contents/Library
Game_Contents/Logs
Game_Contents/Packages
Game_Contents/ProjectSettings
Game_Contents/Logs
Game_Contents/Temp
Game_Contents/UserSettings

Game_Contents/.collabignore
Game_Contents/.DS_Store
.DS_Store
Game_Contents/ignore.conf

*.meta
*.anim
*.prefab
*.controller
*.lighting
*.unity


Game_Contents/Assets/Scenes
Game_Contents/Assets/Other stuff

Game_Contents/Assets/Scripts/Evolutionary/Simulation
Game_Contents/Assets/No-Friction.physicsMaterial2D




